@use '../custom' as c;
@use '../components/mixins' as mix;

.intro-section {
    padding-top: 5rem;
    
    h1 {
        color: c.$primary;
        margin-bottom: 2rem;
    }
    

    .intro-description { 
        @include mix.description;
    }
    
    .image-content {
        display: block;
        margin:auto;
    }
}