@use '../custom' as c;
@use '../components/mixins' as mix;

section {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    &.intro-section {
        padding-top: 15vh;
        
        .icon-box {
            position: relative;
            
            a {

                span {
                    
                    i {
                        font-size: 4rem;
                        color: c.$primary;
                    }
                    
                }
                
            }
            
            .wave-animation {
                position: absolute;
                top: 0;
                left: 0;
                width: 4rem;
                height: 4rem;
                border: 0.25rem solid c.$light-blue-300;
                border-radius: 50%;
                animation: pulse-border 2s linear infinite;
                
                &--2 {
                    animation-delay: 1s;
                }
            }
            
        }
    }
    
    h1 {
        color: c.$primary;
        margin-bottom: 2rem;
    }
    
    h2 {
        color: c.$primary;
        text-transform: uppercase;
    }
    
    .section-description { 
        color: c.$gray-500;
        text-align: justify;
        line-height: 1.5em;
    }
    
    .image-content {
        display: block;
        margin:auto;
    }
    
    .next-date {
        background-color: #00305c77;
    }
    
    
}
